<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>
<body>
    <h1>{{booking}}</h1>
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Details</title>
</head>
<body>
    <h1>Booking Details</h1>
    <hr>
    <p><strong>User:</strong> {{ object.user.username }}</p>
    <p><strong>Room:</strong> Room {{ object.room.number }}</p>
    <p><strong>Start Time:</strong> {{ object.start_datetime }}</p>
    <p><strong>End Time:</strong> {{ object.end_datetime }}</p>
    <form action="{% url 'cancel_booking' object.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Cancel</button>
    </form>
    <a href ="{% url 'dashboard' %}"><button>Back</button></a>
</body>
</html>
